@import 'nib'
@import 'functions.styl'
@import 'config.styl'
// plugins
@import '../css/icons.css'
@import '../css/animate.min.css'
@import '../css/hamburger.css'

.inner
	containers(300, $containers, true)

custom-reset()

b, strong
	f 'bold'

@keyframes loading
	0%
		opacity 1
		visibility visible
	100%
		opacity 0
		visibility hidden

#loading
	size 100%
	z-index 1000
	fixed top 0 left 0
	background-color $white
	transition all .2s ease-in-out
	animation loading .2s linear 1.5s 1 forwards;
	.inner
		height 100%
	img
		absolute top 50% left 50%
		transform translate(-50%, -50%)

header, main, footer 
	max-width 1920px
	margin 0 auto
body 
	padding-top 70px
	
header 
	z-index 100
	size 100% 70px
	fixed top 0 left 0
	background-color $white

	img
		height 40px
		
	.flex
		.column
			&:first-child
				padding top 15px bottom 15px	
			&:last-child
				display flex
				justify-content flex-end

	.login, .hamburger
		size 70px
	.login
		display block
		text-align center
		background-color $blue-dark
		transition all .33s ease-in-out
		&:hover 
			background-color $gray
			i:before
				color $blue-dark
		i:before
			transition all .33s ease-in-out
			f 18px 70px $white
	.hamburger
		padding 0
		background-color $blue-light
		transition all .33s ease-in-out
		&:hover 
			background-color $blue-dark
		&.is-active
			background-color $gray
			.hamburger-inner
				&, &:after, &:before
					background-color $blue-dark 
	.hamburger-box
		size 20px 14px
	.hamburger-inner
		margin-top 0
		&, &:after, &:before
			size 20px 2px
			border-radius 0
			background-color $white
		&:before
			top -6px
		&:after
			bottom -6px

nav 
	display none

.intro 
	z-index 2
	background linear-gradient(180deg, rgba($blue-light,1) 0%, rgba($blue-dark,1) 100%)
	.inner
		min-height calc(100vh - 70px)
	h1
		max-width 80%
		padding-top 2.6em
		f 54px, 1.4em, .1em $white 'bold'
		strong
			f 'regular2'
	p
		max-width 400px
		margin-top 25px
		f 16px, 1.5em, $white
	.button
		margin 30px auto 0

.button
	display inline-block
	background-color $white
	padding .55em 1.11em .33em
	f 18px, 2em, $blue-dark uppercase center 'bold'
	transition all .2s ease-in-out
	&:hover
		color $white
		background-color $blue-dark
		box-shadow 0 0 10px rgba($black, .3)

.droom
	width 100%
	absolute bottom 100px right 0
	f 200px, .8em, 'regular2' $white 0.5em center

.features
	padding top 200px bottom 70px
	background $blue-dark

.reviews
	padding 70px 0

.asTitle
	position relative
	padding top 39px left 60px
	margin-bottom 30px
	f 36px, 1.25em, 'bold' $white
	&.dark
		color $blue-dark
	&:before
		content ''
		size 30px 75px
		absolute top 0 left 0
		background-color $blue-light
		
.asInfo
	position relative
	padding left 60px right 15px
	f 16px, 1.5em, $white
	&.dark
		color $blue-dark
	&:before
		content ''
		size 10px 100%
		absolute top 0 left 20px
		background-color $pink
	p
		margin-top 15px

footer
	height 100px 
	background-color $blue-light

apply_media_cache()