@import 'functions.styl'
@import 'config.styl'

@import '../css/icons.css'
@import '../css/animate.min.css'
@import '../css/hamburger.css'

custom-reset()
/*
.inner
	containers(300, $containers, true)
*/
header
	.flex
		.column:last-child
			text-align right

apply_media_cache()